<!doctype html>
<html lang="en_US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DuckDuckGo New Tab</title>
    <link rel="stylesheet" href="/css/chartist.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/img/icon_128.png">
</head>

<body>
    <img class="background-image d-block" src="/img/backgrounds/alpinist.svg">
    <div class="container">
        <div class="content-wrap mx-auto">
            <a class="logo_homepage d-block" href="https://duckduckgo.com/about">
                <span class="logo_homepage__tt">Learn More</span>
            </a>

            <div class="search_form_wrap">
                <form class="search js-search-form d-flex" name="x" method="GET" action="https://duckduckgo.com/">
                    <input class="js-search-input search__input" type="text" autocomplete="off" name="q" tabindex="1" placeholder="Search anonymously" autocapitalize="off" autocorrect="off" required="required">
                    <button class="btn icon search__clear js-search-clear" type="reset" tabindex="3"></button>
                    <button class="btn icon search__button js-search-button" type="submit" tabindex="2"></button>
                    <input class="d-none" type="hidden" name="t" value="ffnt">
                </form>
            </div>
            <p class="tagline">The search engine that doesn't track you.</p>

            <div id="widgets" class="widgets_wrap">
                <div id="weather-widget" class="card mb-3">
                    <div class="card-header bg-transparent d-flex align-items-center">
                        <span>Today's Weather</span>
                        <!-- <input v-model="weatherLocation" class="form-control w-50 ml-auto" type="text" name="weather-location" id="weather-location" placeholder="Enter location"> -->
                        <!-- <button type="submit" class="btn btn-primary mb-2">Go!</button> -->
                    </div>
                    <div class="card-body">
						<template
							v-if="this.weatherData"
						>
							{{weatherData.currently.summary}}
						</template>
                    </div>
                    <div class="card-footer">More</div>
                </div>

                <div id="crypto-widget" class="card mb-3">
                        <div class="card-header bg-transparent row align-items-center">
                            <span class="col crypto__date">{{date}}</span>
                            <span class="col text-center">Crypto Prices</span>
                            <span class="col text-right">
                                <button type="button" class="btn p-1 crypto__time-range d-inline-flex align-items-center justify-content-center">
                                    <span>24h</span>
                                </button>
                            </span>
                        </div>
                        <div class="card-body p-0">
                            <div class="row no-gutters">
                                <template
                                    v-if="currentPrice"
                                >
                                    <div class="col-4">
                                        <div class="crypto__col__content">
                                            <div class="crypto__col__header d-flex align-items-center">
                                                <img src="/img/widgets/crypto/bitcoin.svg" alt="Bitcoin Logo">
                                                <span class="ml-2">Bitcoin</span>
                                            </div>
                                            <crypto-price
                                                :current="currentPrice.BTC"
                                            ></crypto-price>

                                            <crypto-chart
                                                symbol="BTC"
                                            ></crypto-chart>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="crypto__col__content">
                                            <div class="crypto__col__header d-flex align-items-center">
                                                <img src="/img/widgets/crypto/bitcoin-cash.svg" alt="Bitcoin Cash Logo">
                                                <span class="ml-2">Bitcoin Cash</span>
                                            </div>
                                            <crypto-price
                                                :current="currentPrice.BCC"
                                            ></crypto-price>

                                            <crypto-chart
                                                symbol="BCC"
                                            ></crypto-chart>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="crypto__col__content">
                                            <div class="crypto__col__header d-flex align-items-center">
                                                <img src="/img/widgets/crypto/ethereum.svg" alt="Ethereum Logo">
                                                <span class="ml-2">Etherium</span>
                                            </div>
                                            <crypto-price
                                                :current="currentPrice.ETH"
                                            ></crypto-price>

                                            <crypto-chart
                                                symbol="ETH"
                                            ></crypto-chart>
                                        </div>
                                    </div>
                                </template>
                                <div v-else>
                                    <div class="col text-center">
                                        <h5 class="card-title py-3 mt-2">Loading...</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">More</div>
                </div>

                <div id="reddit-widget" class="widget"></div>
            </div>
        </div>
    </div>

    <script src="/js/moment.min.js"></script>
    <script src="/js/chartist.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/duckduckgo-tab.js"></script>
</body>
</html>
